@model IEnumerable<MusicCollector.Models.Release>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntryNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntryNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntryNo })
        </td>
    </tr>
}

</table>
