@model Tuple<MusicCollector.Models.Album, ICollection<MusicCollector.Models.Photo>>
@*@model   MusicCollector.Models.Album*@

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item1.EntryNo)

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Duration.Minutes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:100px;">
                @Html.EditorFor(model => model.Item1.Duration.Minutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Duration.Minutes, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Item1.Duration.Seconds, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align: left; width: 100px;" })
            <div class="col-md-10" style="width:100px;">
                @Html.EditorFor(model => model.Item1.Duration.Seconds, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Duration.Seconds, "", new { @class = "text-danger" })
            </div>
        </div>



        @*<div class="form-group">
            @Html.LabelFor(model => model.Item1.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Duration, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.YearOfProduction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.YearOfProduction, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.YearOfProduction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().EntryNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().UserUploaded)
        </th>
        <th></th>
    </tr>

    <p>
        @Html.ActionLink("Dodaj zdjęcie", "../Photos/Create", new {albumNo=Model.Item1.EntryNo })
    </p>

@foreach (var item in Model.Item2)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntryNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserUploaded)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EntryNo }) |
            @Html.ActionLink("Details", "Details", new { id = item.EntryNo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EntryNo })
        </td>*@
    </tr>
}
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
