@model IEnumerable<MusicCollector.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Albums", FormMethod.Post))
{
<p>
    Szukaj: <input id = "searchString" name = "searchString" type = "text" /> <input type = "submit"  value = "Szukaj" />
          </p>
}

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Create New", "Create", new { defaultYearOfProduction = 2000, minutes = 30 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>
    @*@Html.DisplayFor(model => model.ElementAt(0).Duration)*@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationStr)
            @*@Html.DisplayFor(modelItem => item.Duration.TotalMinutes+" : "+item.Duration.Seconds)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntryNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntryNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntryNo })
        </td>
    </tr>
}

</table>
