@model IEnumerable<MusicCollector.Models.Album>

@{
    ViewBag.Title = "Index";
}
@{
    int _startIndex = 0;
    int _pageSize = 2;
    string _searchString = "";

    var startIndexTmp = ViewBag.StartIndex;
    if (startIndexTmp != null)
    {
        _startIndex = Convert.ToInt32(startIndexTmp);
    }

    var pageSizeTmp = ViewBag.PageSize;
    if (pageSizeTmp != null)
    {
        _pageSize = Convert.ToInt32(pageSizeTmp);
    }

    if (ViewBag.SearchString != null)
    {
        _searchString = Convert.ToString(ViewBag.SearchString);
    }
}
<h2>Index</h2>

@using (Html.BeginForm("Index", "Albums", FormMethod.Post))//, new { startIndex = _startIndex, pageSize = 2 }))
{
<p>
    <input type="hidden" id="startIndex" name="startIndex" value="0" />
    <input type="hidden" id="pageSize" name="pageSize" value="@_pageSize" />
    Szukaj: <input id = "searchString" name = "searchString" type = "text" value="@_searchString" /> <input type = "submit"  value = "Szukaj" />
          </p>
}

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Create New", "Create", new { defaultYearOfProduction = 2000, minutes = 30 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>
    @*@Html.DisplayFor(model => model.ElementAt(0).Duration)*@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationStr)
            @*@Html.DisplayFor(modelItem => item.Duration.TotalMinutes+" : "+item.Duration.Seconds)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntryNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntryNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntryNo })
        </td>
    </tr>
}

</table>

@Html.ActionLink("poprzednia strona", "Index", new
{
    searchString = _searchString,
    startIndex = _startIndex - _pageSize,
    pageSize = _pageSize
})
||
@Html.ActionLink("następna strona", "Index", new
{
    searchString = _searchString,
    startIndex = _startIndex + _pageSize,
    pageSize = _pageSize
})