<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>  

<script type="text/javascript">
    //$(document).ready(function () {
    var AlbumListPostBackURL = '/Albums/IndexModal';
    $(function () {
        $(".anchorAlbum").click(function () {
            //debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                //type: "GET",
                //url: AlbumListPostBackURL,
                type: "POST",
                url: '@Url.Action("IndexModal", "Albums")',
                contentType: "application/json; charset=utf-8",
                data: "{'query' : '" + id + "', startIndex : 0, pageSize :  2}",//{ "query": id },
                datatype: "json",
                success: function (data) {
                    //debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Nie udało się załadować listy albumów.");
                }
            });
        });
        //$("#closebtn").on('click',function(){  
        //    $('#myModal').modal('hide');    

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
</script>

@model MusicCollector.Models.CollectionEntry

@{
    ViewBag.Title = "Create";
    var albumEntryNo = "";
    if (Model != null)
    {
        albumEntryNo = Model.AlbumNo + "";
    }
    else
    {
        albumEntryNo = "666";
    }
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CollectionEntry</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserNo, "UserNo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserNo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumNo, "AlbumNo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AlbumNo", null, htmlAttributes: new { @class = "form-control" })
                @Html.TextBoxFor(Model=>Model.AlbumNo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AlbumNo, "", new { @class = "text-danger" })

                @*@using (Model) {*@
                <a href="javascript:void(0);" class="anchorAlbum" data-id="@albumEntryNo">Podaj Album</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseNo, "ReleaseNo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReleaseNo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReleaseNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
